# 강의 저작권
typescript/1-types
typescript/3-oop
typescript/5-generic
typescript/7-API
typescript/8-exception
typescript/9-advanced
typescript/10-javascript
typescript/11-config
browser101/
reduxVSmobX/
ES6_UI/

# vcode 설정
.vscode/

#node_modules

node_modules/