body{padding:50px}
.container div {
    display: flex;
    text-align: center; color:#fff;font-size: 2em;
    justify-content: center;
    align-items: center;
}
.container div:nth-child(4n+1) {background: #96ceb4;}
.container div:nth-child(4n+2) {background: #ff6f69;}
.container div:nth-child(4n+3) {background: #88d8b0;}
.container div:nth-child(4n) {background: #ffcc5c;}

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-rows: repeat(2, 100px); */
    /* 
    * 원래보다 rows가 늘어나면서 아랫줄의 높이 설정이 되지 않는 문제 
    * 해결법 : grid-auto-rows 속성 사용
    */
    grid-auto-rows : 100px;
}