*{ 
    margin: 0;
}

.container {
    display: grid;
    /* grid-template-columns : 40% 60%; */
    /* grid-template-columns : 4fr 6fr; */
    grid-template-columns : 1fr 1fr 1fr;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: 300px 1fr; */
    /* grid-auto-rows: 300px; */
    grid-auto-rows: min-content;
    grid-gap: 1rem;
    /* justify-items:center;
    align-items: center; */
    height: 100vh;
    background: lightgray;
}

.item {
    background: pink;
}

.item:nth-child(1) {
    grid-column: 1/4;
}

.item:nth-child(4) {
    grid-column: 3;
    grid-row: 2/4;
}

.item:nth-child(9) {
    grid-column: 3;
    grid-row: 3/5;
}

.item:nth-child(5) {
    display: block;
    /* justify-self: center;
    align-self: center; */
}

.item:nth-child(odd) {
    background: palegoldenrod;
}
